.star-list, .fa-star .active {
  color: #ffdc34;
}

.star-list, ul li {
  float: left;
}

.scroll {
  height: 100%;
}

.angular-google-map-container {
  height:100%}

.angular-google-map{
  height: 100%;
}
